.overlay-container{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.65);
}
.overlay-description-box{
    background: white;
    margin-top: 30vh;
    margin-left: 35vw;
    width: 30vw;
    height: 15vw;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
}

.button {
    display:inline-block;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    padding: 13px;
    border-radius: 7px;
    font-size: 17px;
}

.name-holder{
    margin-top: 50px;
}
.welcome-text{
    font-size: 30px;
}

.add {
    background-color: #00d1b2;
}
