<div>
    <div class="game-container-box">
        <div class="row" *ngFor="let row of rows">
            <div class="square" *ngFor="let subSquare of getSquaresOnRow(row)" [class.validMove]="subSquare?.validMove"
                 [class.squareSelected]="subSquare?.isSelected"
                 (click)="squareSelected(subSquare)">
                <div class="piece-style" *ngIf="subSquare.piece" [class.red]="subSquare.piece.color === pieceColorRed" [class.black]="subSquare.piece.color === pieceColorBlack"
                     [class.king]="subSquare.piece.isKing"></div>
            </div>
        </div>
    </div>
</div>
