.square {
    width: 50px;
    height: 50px;
    margin: 2px;
    display: inline-block;
    text-align: center;
}

.validMove {
    border: 1px red solid;
}

.king .red {
    background: gold;
}

.king .black {
    background: gold;
}

.squareSelected {
    border: 1px #064617 solid;
}

.row:nth-child(even) .square:nth-child(even) {
    background: lightblue;
}

.row:nth-child(even) .square:nth-child(odd) {
    background: lightskyblue;
}

.row:nth-child(odd) .square:nth-child(even) {
    background: lightskyblue;
}

.row:nth-child(odd) .square:nth-child(odd) {
    background: lightblue;
}

.red {
    background: red;
    margin-top:13px;
    margin-left: 11.5px;
}

.black {
    background: black;
    /*margin-bottom: 13px;*/
    margin-left: 11.5px;
}

.piece-style {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*margin: auto;*/
}
