<div>
    <div class="game-container-box">
        <div class="row" *ngFor="let row of [0,1,2,3,4,5,6,7]">
            <div class="square" *ngFor="let subSquare of getSquaresOnRow(row)" [class.validMove]="subSquare?.validMove" (click)="squareSelected(subSquare)">
                <div class="piece-style" *ngIf="subSquare.piece"  [class.red]="subSquare.piece.color === 'red'"></div>
                <div class="piece-style" *ngIf="subSquare.piece" [class.black]="subSquare.piece.color === 'black'"></div>
            </div>
        </div>
    </div>
</div>
