<div>
    <div class="game-container-box">
        <div class="row" *ngFor="let row of [0,1,2,3,4,5,6,7]">
            <app-cell [piece]="findPiece(row,col)" [square]="findSquare(row,col)" (click)="moveSelected(row,col)" *ngFor="let col of [0,1,2,3,4,5,6,7]">
            </app-cell>
        </div>
    </div>
    <div class="label">

        <div>
            Player {{displayPlayerName}} is moving {{isMoving}}
        </div>

    </div>
    <div class="score-board">
        <div class="row-style">
            <div (click)="editRedPlayerName()"><i class="fas fa-pencil-alt"></i></div>
            <div class="score-style">
                Player {{firstPlayerName}}
            </div>
            <div class="red score " *ngFor="let score of scoreRed"></div>
        </div>
        <div class=" row-style">
            <div (click)="editBlackPlayerName()"><i class="fas fa-pencil-alt"></i></div>
            <div class="score-style">
                Player {{secondPlayerName}}
            </div>
            <div class="black score" *ngFor=" let score of scoreBlack"></div>
        </div>
    </div>
    <app-player-name-modal *ngIf="showPlayerNameModal"  (updatedPlayerName) = "playerNameAdded($event) "></app-player-name-modal>
</div>
