<div class="overlay-container">
    <div class="overlay-description-box">
        <div class="closeIcon" (click)="close()">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="name-holder">
            <div>
                <input type="text" #playerNameValue [(ngModel)]="playerName" placeholder="Enter Player Name" />
            </div>
            <div class="add button" (click)="addPlayerName(playerNameValue.value)">Add Name </div>
            <div class="delete button " (click)="deleteName()">Delete Name </div>
        </div>
        
    </div>

</div>